$link-color: #5b31c6;
$body-bg: #f2f2f2;
$card-spacer-y: .4rem;
$card-spacer-x: 1rem;
$card-border-width: 2px;
$theme-colors: (
  'royal': #5b31c6
);
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import 'bootstrap/scss/bootstrap.scss';

html, body, :global(#root) {
  height: 100%;
}

a.no-link {
  text-decoration: none !important;
}

.ycanvas {
  height: 70vh;
  width: 100%;
  overflow: scroll;
  canvas {
    overflow: scroll;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.svg-icon {
  display: flex;
  justify-content: center;

  svg {
    fill: currentColor;
    height: $font-size-lg;
  }
}

.micro {
  .svg-icon {
    svg {
      height: 3em;
    }
  }
}

.inline {
  .svg-icon {
    svg {
      height: $font-size-base;
    }
  }
}

.dragdrop {
  text-align: center;
  background-color: #ccc;
  width: 100%;
  min-height: 45vh;
  border-radius: 1em;

  .or {
    font-size: 1.5em;
  }

  .text {
    font-size: 2.25em;
    font-weight: 300;
  }
}

.muted {
  color: #4A5154;
}